@media all and (max-width: 1225px) {
    .navbar {
        width: 90%;
    }

    .menu-active {
        width: 95%;
    }

    .menu-active {
        width: 95%;
    }

    .container {
        width: 90%;
    }

    .swiper {
        width: 95% !important;
    }

    .footer {
        width: 90%;
    }

    .small-cards {
        justify-content: center;
    }

    .top-products .swiper-button-next {
        display: none;
    }

    .top-products .swiper-button-prev {
        display: none;
    }

    .section-head {
        width: 90%;
    }
}

@media all and (max-width: 1024px) {
    .menu-col {
        margin-inline: 40px;
    }

    .hide {
        display: none;
    }

    .card-grid {
        display: grid;
        justify-items: center;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        gap: 15px 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "card-a card-b"
            "card-c card-d";
    }

    .card-grid .a {
        grid-area: card-a;
        height: 200px;
        max-width: 378px;
        width: 100%;
        padding: 20px 0 0 30px;
    }

    .card-grid .d {
        height: 200px;
        max-width: 378px;
        width: 100%;
    }

    .medium-card span {
        margin-bottom: 10px;
    }

    .medium-card button {
        margin-top: 15px;
    }

    .big-cards .a {
        display: none;
    }

    .footer .footer-about {
        display: none;
    }

    .contact-cont {
        flex-direction: column;
    }

    .contact-cont iframe {
        margin-bottom: 60px;
    }

    .contact-cont ul li {
        white-space: unset;
    }
}


@media all and (max-width: 768px) {
    .hamburger {
        display: none;
    }

    .big-cards .a {
        display: block;
    }

    .big-cards {
        flex-direction: column;
    }

    .big-card:not(:last-child) {
        margin-bottom: 26px;
        margin-right: 0;
    }

    .large-card .card {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: center;
    }

    .large-card .card h5 {
        font-size: 24px;
    }

    .footer-row {
        gap: 30px 20px;
    }

    .footer-about {
        max-width: 250px;
    }

    .footer-bottom {
        flex-direction: column;
        margin-top: 80px;
    }

    .footer-bottom .prot, .banks {
        display: none !important;
    }
}

@media all and (max-width: 700px) {
    .bg-cont {
        padding: 50px;
    }

    .bg-cont button {
        margin-top: 30px;
    }

    .bg-cont h2 {
        font-size: 20px;
        width: 250px;
    }

    .footer {
        margin: 0 auto;
    }

    .card-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1f;
        gap: 15px 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "card-a"
            "card-b"
            "card-c"
            "card-d";
    }

    .footer-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-col:not(:last-child) {
        margin-right: 0px;
    }
}

@media all and (max-width: 480px) {
    header {
        margin-bottom: 120px;
    }

    .navbar {
        justify-content: center;
        padding: 0;
        position: absolute;
        height: 80px;
    }

    .navbar .logo {
        margin-bottom: 0px;
    }

    .srch-cart-login {
        display: none;
    }
}