@media all and (max-width: 1225px) {
    .navbar {
        width: 90%;
    }

    .menu-active {
        width: 95%;
    }

    .menu-active {
        width: 95%;
    }

    .container {
        width: 90%;
    }

    .container-b {
        width: 90%;
    }

    .swiper {
        width: 95% !important;
    }

    .footer {
        width: 90%;
    }

    .small-cards {
        justify-content: center;
    }

    .top-products .swiper-button-next {
        display: none;
    }

    .top-products .swiper-button-prev {
        display: none;
    }

    .product .product-img-gallery {
        flex-direction: column-reverse;
    }

    .product .product-main-img {
        margin-left: 0px;
    }

    .product .product-img-selector {
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 20px;
    }

    .product .product-img-selector .product-select:not(:last-child) {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .product .wgt {
        grid-template-columns: repeat(2, 2fr);
    }

    .product-listing-cont {
        margin-bottom: 150px;
    }
}

@media all and (max-width: 1024px) {
    .menu-col {
        margin-inline: 40px;
    }

    .hide {
        display: none;
    }

    .card-grid {
        display: grid;
        justify-items: center;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        gap: 15px 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "card-a card-b"
            "card-c card-d";
    }

    .card-grid .a {
        grid-area: card-a;
        height: 200px;
        max-width: 378px;
        width: 100%;
        padding: 20px 0 0 30px;
    }

    .card-grid .d {
        height: 200px;
        max-width: 378px;
        width: 100%;
    }

    .medium-card span {
        margin-bottom: 10px;
    }

    .medium-card button {
        margin-top: 15px;
    }

    .big-cards .a {
        display: none;
    }

    .footer .footer-about {
        display: none;
    }

    .contact-cont {
        flex-direction: column;
    }

    .contact-cont iframe {
        margin-bottom: 60px;
    }

    .contact-cont ul li {
        white-space: unset;
    }

    .product {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .product .product-img-selector {
        margin-bottom: 30px;
    }

    .product .description {
        margin-bottom: 30px;
    }

    .product .product-images {
        width: 100%;
    }

    .product .product-main-img {
        width: 100%;
    }
}

@media all and (max-width: 700px) {
    .menu-mobile {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    .container h3 {
        font-size: 18px;
        padding-left: 10px;
    }

    .bg-cont {
        padding-top: 80px;
    }

    .bg-cont button {
        margin-top: 30px;
    }

    .bg-cont h2 {
        font-size: 18px;
        font-weight: lighter;
        width: 250px;
    }

    #bgC {
        background-position-y: -250%;
    }

    .big-cards .a {
        display: block;
    }

    .big-cards {
        flex-direction: column;
    }

    .big-card:not(:last-child) {
        margin-bottom: 26px;
        margin-right: 0;
    }

    .large-card .card {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: center;
    }

    .large-card .card h5 {
        font-size: 18px;
        text-align: center;
    }

    .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal {
        display: block;
    }

    .swiper-pagination2,
    .swiper-pagination3 {
        left: 90% !important;
    }

    footer {
        margin: 0px auto 20px;
    }

    .footer-cont {
        display: none;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        margin: 0px 0 60px 0;
    }

    .footer-bottom .madeby {
        margin-bottom: 8px;
    }

    .footer-bottom .banks {
        margin-bottom: 80px;
    }

    .card-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1f;
        gap: 15px 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "card-a"
            "card-b"
            "card-c"
            "card-d";
    }

    .product-filter {
        width: 90%;
        box-shadow: 0px 0px 60px #597dbc33;
        z-index: 5;
        height: auto;
        transition: all 0.5s ease;
        left: 50%;
        transform: translate(-50%);

        position: absolute;
    }

    .product-listing .slide-in-out {
        left: -3000px;
    }

    #listing .section-head {
        display: none;
    }

    .filter-mobile-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #listing .sort select {
        height: 40px;
        width: 200px;
        font-size: 16px;
        padding: 7px;
        background-color: #ffffff;
        color: #111111;
    }

    #listing .sort select:focus-visible {
        outline: 1px solid red;
        color: red;
    }

    .filter-mobile-display .product-filter-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid #AAA;
        height: 40px;
        width: 200px;
        font-size: 16px;
        margin-top: 15px;
        transition: all 0.3s ease;
        opacity: 100%;
        color: #111111;
        border: 1px solid #AAA;
    }

    .filter-mobile-display .active {
        opacity: 80%;
        color: red;
        border: 1px solid red;
    }

    .filter-mobile-display .product-filter-mobile.active path {
        fill: #f5621f;
        transition: all 0.3s ease;
    }

    .product-list {
        justify-content: center;
    }
}

@media all and (max-width: 480px) {
    .container {
        margin: 30px auto;
    }

    .section-head {
        display: none;
    }

    .leaf-section {
        margin-top: -360px;
    }

    .navbar {
        justify-content: center;
        padding: 0;
        position: absolute;
        height: 80px;
        width: 100%;
        border-radius: 0px 0px 30px 30px;
    }

    .navbar .logo {
        margin-bottom: 0px;
    }

    .srch-cart-login {
        display: none;
    }

    header {
        margin-bottom: 50px;
    }

    .big-slider {
        width: 100%;
    }

    .swiper {
        width: 100% !important;
        border-radius: 0px 0px 10px 10px !important;
    }

    .big-slider .swiper-button-prev-unique,
    .big-slider .swiper-button-next-unique {
        display: none;
    }

    .swiper-pagination2,
    .swiper-pagination3 {
        left: 80% !important;
    }

    .aboutus-section, .contact-section, .product-cont {
        margin-top: 100px;
    }

    .product-listing-cont {
        margin-top: 140px;
    }
}