* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    font-family: "FiraGO Medium";
    line-height: 1.5;
    background-color: #FAFAFA;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #111111;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 0 40px;
    height: 110px;
    max-width: 1276px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px #597DBC0D;
    border-radius: 0px 0px 50px 50px;
    transition: all 0.3s ease;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.navbar .logo {
    height: 30px;
    width: 212px;
    margin-bottom: 15px;
}

.srch-cart-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.srch a, .cart a, .login a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.srch-cart-login a span {
    margin-top: 10px;
    font-size: 12px;
}

.srch, .cart, .login:not(:last-child) {
    margin-right: 30px;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #242424;
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, 0);
}

.hamburger:hover {
    cursor: pointer;
}

#hamburger.is-active .line:nth-child(1) {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

#hamburger.is-active .line:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

#hamburger.is-active .line:nth-child(3) {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

#mobileHamburger.is-active .line:nth-child(1) {
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#mobileHamburger.is-active .line:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

#mobileHamburger.is-active .line:nth-child(3) {
    opacity: 0;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
}

.menu-active {
    padding: 30px 40px 0 40px;
    height: 0px;
    opacity: 0;
    z-index: -98;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1276px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px #597DBC0D;
    border-radius: 0px 0px 50px 50px;
    transition: all 0.3s ease-in-out;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    font-size: 12px;
    color: #C8C8C8;
}

.menu ul li a:hover {
    color: #111111;
}

.main {
    color: #111111 !important;
}

.menu li:not(:last-child) {
    margin-right: 30px;
}

.menu .contact-num {
    display: flex;
    flex-direction: column;
}

.menu .contact-num .phone {
    font-size: 24px;
    font-weight: bold;
}

.menu .contact-num .email {
    font-size: 14px;
    color: #6E6E6E;
}

.menu .haburger-cat img {
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%, 0);
}

.menu-active .search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.menu-active .search .search-cont input {
    height: 55px;
    width: 580px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 30px #597DBC0D;
    border-radius: 10px;
    text-align: left;
    text-indent: 20px;
    border: none;
    outline: none;
    transition: all 0.2s;
}

.menu-active .search .search-cont input:hover {
    box-shadow: 0px 30px 50px #597DBC0D;
}

.menu-active .search .search-cont input:focus {
    box-shadow: 0px 30px 50px #597DBC0D;
}

.menu-active .search .search-cont input::placeholder {
    color: #9C9C9C;
    font-size: 14px;
}

.menu-active .search-icon {
    filter: invert(1);
}

.menu-active .search-cont {
    position: relative;
}

.search .search-cont button {
    background-color: #74B42C;
    border-radius: 6px;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;

    position: absolute;
    right: 4%;
    top: 20%;
}

.search .search-cont button:hover {
    opacity: 90%;
}

.menu-category ul {
    max-width: 880px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-category ul li a {
    font-size: 14px;
    transition: all 0.2s;
}

.menu-category ul li .main {
    color: #74B42C;
}

.menu-category ul li a:hover {
    color: #74B42C;
}

.menu-row {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.menu-col:not(:last-child) {
    margin-right: 40px;
}

.menu-col h4 {
    font-size: 18px;
    color: #8FC356;
    margin-bottom: 16px;
    font-weight: normal;
}

.menu-col ul li:not(:last-child) {
    margin-bottom: 8px;
}

.menu-col ul li a {
    font-size: 14px;
    color: #6E6E6E;
    display: block;
    transition: all 0.3s;
}

.menu-col ul li a:hover {
    color: #74B42C;
}

.menu-mobile {
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    padding: 20px;
    display: none;
    box-shadow: 0px -10px 30px #597DBC0D;
}

.mobile-main a, .mobile-srch a, .mobile-cart a, .mobile-login a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    height: 40px;
}

.mobile-main a span, .mobile-srch a span, .mobile-cart a span, .mobile-login a span {
    margin-top: 8px;
}

.menu-mobile .hamburger-cirlce {
    background-color: #74B42C;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    position: relative;
}

#mobileCat {
    position: absolute;
    height: 22px;
    width: 24px;
    z-index: -99;
    opacity: 0;
    transition: all 0.3s ease-in, z-index 0ms;
    -webkit-transition: all 0.3s ease-in, z-index 0ms;
}

.menu-mobile .hamburger {
    display: block;
    position: unset;
    transform: unset;
    transition: all 0.3s ease-in, z-index 0ms;
    -webkit-transition: all 0.3s ease-in, z-index 0ms;
    z-index: 10;
}

.menu-mobile .hamburger-cirlce:hover,
.menu-mobile .hamburger:hover {
    opacity: 90%;
}

.menu-mobile .hamburger .line {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-mobile-active {
    height: 0%;
    opacity: 0;
    z-index: -98;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 120px 60px 0 60px;
    font-size: 14px;
    transition: all 0.5s ease-in-out;
}

.menu-mobile-active .mobile-cat {
    width: 100%;
}

.menu-mobile-active a li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

hr {
    width: 40%;
    opacity: 25%;
}

.menu-mobile-active .mobile-pgs {
    margin-top: 20px;
}

.menu-mobile-active .mobile-pgs a li {
    margin-bottom: 10px;
}

.menu-mobile-active .mobile-pgs .main-b {
    color: #74B42C;
}

/* Sections */
.container {
    max-width: 1186px;
    width: 100%;
    margin: 70px auto;
    z-index: 5;
}

.container-b {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.big-slider .swiper {
    width: 1186px;
    height: 280px;
    box-shadow: 0px 0px 30px #F5AD001A;
    border-radius: 10px;
}

.swiper-button-next-unique::after {
    display: none;
}

.swiper-button-prev-unique::after {
    display: none;
}

.swiper-button-prev-unique, .swiper-button-next-unique {
    height: 40px !important;
    width: 40px !important;
    background-color: #FFFFFF;
    background-image: url(../img/arrow-long-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 20px #597DBC1A;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;

    position: absolute;
}

.swiper-button-prev-unique {
    top: 50%;
    left: 10px;
    right: auto;
}

.swiper-button-next-unique {
    top: 50%;
    right: 10px;
    left: auto;
}

.swiper-button-next-unique {
    transform: rotate(180deg);
}

.swiper-button-prev-unique:hover, .swiper-button-next-unique:hover {
    opacity: 90%;
}

.swiper-button-prev-unique:active, .swiper-button-next-unique:active {
    opacity: 70%;
}

.big-slider .swiper-pagination-bullet {
    background-color: #ffffff !important;
    width: 12px !important;
    height: 5px !important;
    border-radius: 0% !important;
}

.big-slider .swiper-pagination-bullet-active {
    background-color: #ffffff !important;
    width: 28px !important;
    height: 5px !important;
    border-radius: 0% !important;
}

.big-slider .swiper-slide .bg {
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    background-color: #F5AD00;
}

#bgA {
    background-image: url(../img/pug.png);
}

#bgB {
    background-image: url(../img/Kit-Cat.png);
    background-size: 600px;
    background-position-x: 50%;
    background-color: #3CABE0;
}

#bgC {
    background-image: url(../img/img-hero_dog.png);
    background-size: 250px;
    background-position-y: -50%;
    background-position-x: 50%;
    background-color: #F5621F;
}

.bg-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.bg-cont h2 {
    color: #FFFFFF;
    width: 344px;
}

.bg-cont button {
    height: 45px;
    width: 135px;
    background-color: #FFFFFF;
    color: #111111;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.bg-cont a {
    height: 45px;
    width: 135px;
    margin-top: 50px;
}

.bg-cont button:hover {
    opacity: 95%;
}

.small-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 20px;
}

.leaf-section {
    width: 100%;
    height: 360px;
    overflow: hidden;
    margin-top: -50px;
    z-index: -1;

    position: relative;
}

.leaf-section-cnt {
    width: 100%;
    height: 360px;
    overflow: hidden;
    z-index: -1;

    position: absolute;
}

.section-leaf-left {
    height: 100%;
    width: 260px;
    background-image: url(../img/leafleft.svg);
    background-repeat: no-repeat;

    position: absolute;
    bottom: -40%;
    left: -100px;
}

.section-leaf-right {
    height: 100%;
    width: 260px;
    background-image: url(../img/leafright.svg);
    background-repeat: no-repeat;

    position: absolute;
    top: 0%;
    right: -120px;
}

.small-cards .card {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px;
    max-width: 277px;
    width: 100%;
    border-radius: 10px;
    font-size: 14px;
    transition: all 0.5s ease;
}

.small-cards .card:hover {
    filter: grayscale(80%);
}

.small-cards .card .card-square {
    height: 44px;
    width: 44px;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.small-cards .card .card-cont {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-cards .card .card-cont span {
    width: 152px;
}

.small-cards .card .card-cont img {
    height: 16px;
    width: 16px;
}

.small-cards .a .card-square {
    background-color: #E3F0D4;
}

.small-cards .b .card-square {
    background-color: #FDDFD2;
}

.small-cards .c .card-square {
    background-color: rgb(60, 171, 224, 0.2);
}

.small-cards .d .card-square {
    background-color: rgb(205, 150, 209, 0.2);
}

.small-cards .a .card-cont .card-span {
    color: #74B42C;
}

.small-cards .b .card-cont .card-span {
    color: #F5621F;
}

.small-cards .c .card-cont .card-span {
    color: #3CABE0;
}

.small-cards .d .card-cont .card-span {
    color: #CC96D0;
}

.small-cards .a {
    background-color: #F1F7E9;
    box-shadow: 0px 30px 15px -15px rgb(117 180 44 / 10%);
    -webkit-box-shadow: 0px 30px 15px -15px rgb(117 180 44 / 10%);
}

.small-cards .b {
    background-color: #FEEFE8;
    box-shadow: 0px 30px 15px -15px rgb(245 99 31 / 10%);
    -webkit-box-shadow: 0px 30px 15px -15px rgb(245 99 31 / 10%);
}

.small-cards .c {
    background-color: #EBF7FC;
    box-shadow: 0px 30px 15px -15px rgb(60 172 224 / 10%);
    -webkit-box-shadow: 0px 30px 15px -15px rgb(60 172 224 / 10%);
}

.small-cards .d {
    background-color: #FAF4FA;
    box-shadow: 0px 30px 15px -15px rgb(204 150 208 / 10%);
    -webkit-box-shadow: 0px 30px 15px -15px rgb(204 150 208 / 10%);
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
        "card-a card-b card-c"
        "card-a card-d card-d";
}

.card-grid .a {
    grid-area: card-a;
    height: 426px;
    max-width: 378px;
    width: 100%;
    background-color: #F5621F;
    background-image: url(../img/pug.png);
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: 200px;
    box-shadow: 0px 0px 30px #74B42C1A;
    justify-content: flex-start;
    padding: 70px 0 0 40px;
    z-index: 1;
}

.card-grid .b {
    height: 200px;
    max-width: 378px;
    width: 100%;

    background-color: #3CABE0;
    background-image: url(../img/tevzi.png);
    background-position-y: 30%;
    box-shadow: 0px 0px 30px #CC96D01A;
    align-items: flex-end;
    padding-right: 30px;
    z-index: 1;
}

.card-grid .c {
    height: 200px;
    max-width: 378px;
    width: 100%;
    background-color: #74B42C;
    background-image: url(../img/tutiyushi.png);
    background-position-y: 100%;
    box-shadow: 0px 0px 30px #F5621F1A;
    padding-left: 30px;
    z-index: 1;
}

.card-grid .d {
    height: 200px;
    max-width: 782px;
    width: 206%;
    background-color: #F5AD00;
    background-image: url(../img/kata1.png);
    background-position-y: 100%;
    background-size: 230px;
    box-shadow: 0px 0px 30px #F5AD001A;
    align-items: center;
    z-index: 1;
}

.medium-cards {
    margin-top: -290px;
}

.medium-card {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.medium-card span {
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.medium-card h5 {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: normal;
}

.medium-card h6 {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: normal;
}

.medium-card button {
    height: 42px;
    width: 161px;
    background-color: #FFFFFF;
    color: #111111;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.medium-card a {
    height: 42px;
    width: 161px;
    margin-top: 45px;
}

.medium-card button:hover {
    opacity: 90%;
}

.big-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-card {
    height: 500px;
    max-width: 378px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px #597DBC0D;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.big-card:not(:last-child) {
    margin-right: 26px;
}

.big-card:hover {
    box-shadow: 0px 0px 60px #597DBC0D;
}

.big-cards h5 {
    width: 232px;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.big-cards .b h5 {
    text-align: left;
}

.big-card.a span:nth-of-type(1) {
    color: #D79F18;
}

.big-card.a span:nth-of-type(2) {
    color: #1487BD;
}

.big-card.a span:nth-of-type(3) {
    color: #F5621F;
}

.big-card.a span:nth-of-type(4) {
    color: #74B42C;
}

.big-card.a span:nth-of-type(5) {
    color: #B7881C;
}

.big-card.a span:nth-of-type(6) {
    color: #CC96D0;
}

.big-card.a span:nth-of-type(7) {
    color: #C5C5C5;
}

.big-card.a span:nth-of-type(8) {
    color: #6A6D14;
}

.big-cards .a {
    background-image: url(../img/crd.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 0 0 40px;
}

.big-cards .b {
    background-image: url(../img/kurdgeli.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #FEE02E;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 0 0 40px;
}

.big-cards .b button {
    height: 42px;
    width: 161px;
    background-color: #FFFFFF;
    color: #111111;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.big-cards .b a {
    height: 42px;
    width: 161px;
    margin-top: 45px;
}

.big-cards .b button:hover {
    opacity: 90%;
}

.big-cards .c {
    position: relative;
}

.big-card .swiper {
    height: 500px;
    width: 378px;
}

.big-card .swiper .swiper-button-prev-unique {
    background-color: #111111;
    background-image: url(../img/arrow-long-right-white.svg);
}

.big-card .swiper .swiper-button-next-unique {
    background-color: #111111;
    background-image: url(../img/arrow-long-right-white.svg);
}

.big-cards .big-card-cont {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0;
}

.big-cards .big-card-cont h5 {
    font-size: 18px;
    text-align: left;
    margin: 0 70px 50px 0;
}

.big-cards .big-card-cont img {
    height: 163px;
}

.big-cards .big-card-cont h6 {
    font-size: 18px;
    font-weight: normal;
}

.big-cards .big-card-cont a {
    margin-top: 23px;
}

.big-cards .big-card-cont button {
    height: 42px;
    width: 161px;
    background-color: #111111;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.big-cards .big-card-cont .big-card-btn {
    height: 42px;
    width: 161px;
    margin-top: 45px;
}

.big-cards .big-card-cont button:hover {
    opacity: 80%;
}

.big-cards .c .circle {
    height: 119px;
    width: 119px;
    background-color: #F5621F;
    box-shadow: -10px 10px 20px #202C530D;
    border-radius: 0px 10px 0px 193px;

    position: absolute;
    top: 0;
    right: 0;
}

.big-cards .big-card-cont .value {
    font-size: 24px;
    color: #FFFFFF;

    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 1;
}

.large-card .card {
    height: 250px;
    max-width: 1185px;
    width: 100%;
    background-color: #F5AD00;
    background-image: url(../img/ku.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 90%;
    box-shadow: 0px 10px 20px #F5AD001A;
    border-radius: 10px;
    padding: 40px 0 0 100px;
}

.large-card .card h5 {
    font-size: 32px;
    font-weight: normal;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.large-card .card button {
    height: 42px;
    width: 161px;
    background-color: #FFFFFF;
    color: #111111;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.large-card .card button:hover {
    opacity: 90%;
}

.top-products {
    position: relative;
}

.brands h3, .top-products h3 {
    font-size: 28px;
    font-weight: normal;
}

.top-products .swiper {
    height: 441px;
    width: 100%;
    margin: 31px auto;
}

.top-products .swiper-slide {
    text-align: left;
    background: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 0 30px;

    box-shadow: 0px 0px 20px #597DBC0D;
    border: 1px solid #E7E7E74D;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.top-products .swiper-slide:hover {
    box-shadow: 0px 0px 40px #597dbc1a;
}

.top-products .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-products .swiper-button-next::after {
    display: none;
}

.top-products .swiper-button-prev::after {
    display: none;
}

.top-products .swiper-button-prev, .swiper-button-next {
    height: 40px !important;
    width: 40px !important;
    background-color: #FFFFFF;
    background-image: url(../img/arrow-long-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 20px #597DBC1A;
    border: 1px solid #E7E7E733;
    border-radius: 6px;
    cursor: pointer;
    z-index: 1;

    position: absolute;
}

.top-products .swiper-button-next {
    top: 60%;
    right: -60px;
}

.top-products .swiper-button-prev {
    top: 60%;
    left: -60px;
}

.top-products .swiper-button-next {
    transform: rotate(180deg);
}

.top-products .swiper-button-prev:hover, .swiper-button-next:hover {
    opacity: 70%;
}

.top-products .swiper-button-prev:active, .swiper-button-next:active {
    opacity: 50%;
}

.top-products .swiper-slide img {
    height: 150px;
    max-width: 135px;
    width: 100%;
    margin-bottom: 19px;
}

.top-products .swiper-slide .title-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
}

.top-products .swiper-slide .title-desc .title {
    font-size: 18px;
}

.top-products .swiper-slide .title-desc .desc {
    font-size: 12px;
    color: #6E6E6E;
}

.top-products .swiper-slide .wgt {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    height: 120px;
}

.top-products .swiper-slide .wgt .weight {
    height: 35px;
    width: 105px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.top-products .swiper-slide .wgt .weight.active {
    background-color: #E7E7E7;
}

.top-products .swiper-slide .wgt .weight:hover {
    background-color: #E7E7E7;
}

.top-products .swiper-slide .price-basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 215px;
}

.top-products .swiper-slide .price-basket span {
    font-size: 24px;
    color: #111111;
}

.top-products .swiper-slide .price-basket .basket {
    height: 34px;
    width: 34px;
    background-color: #74B42C;
    background-image: url(../img/shopping-cart-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

.top-products .swiper-slide .price-basket .basket:hover {
    filter: grayscale(80%);
}

.brands {
    position: relative;
}

.brands .swiper {
    height: 90px;
    width: 100%;
    margin: 31px auto;
}

.brands .swiper-slide {
    background: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    box-shadow: 0px 0px 20px #597DBC0D;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.brands .swiper-slide:hover {
    box-shadow: 0px 0px 60px #597dbc23;
    cursor: pointer;
}

.brands .swiper-slide img {
    width: 96px;
}

.brands .swiper-slide img {
    width: 96px;
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal {
    display: none;
    width: 52px !important;
    height: 11px !important;
    border-radius: 4px;
    overflow: hidden;
    background-color: #e7e7e7;
}

.swiper-pagination2,
.swiper-pagination3 {
    top: 8px !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #74B42C !important;
}

/* Footer */
footer {
    width: 100%;
    margin: 130px auto 20px;
    overflow: hidden;

    position: relative;
}

.footer {
    max-width: 1186px;
    width: 100%;
    margin: 70px auto 0;
    z-index: 5;
}

footer .footer-leaf-left {
    height: 100%;
    width: 260px;
    background-image: url(../img/leafleft.svg);
    background-repeat: no-repeat;

    position: absolute;
    top: 40%;
    left: -70px;
}

footer .footer-leaf-right {
    height: 100%;
    width: 260px;
    background-image: url(../img/leafright.svg);
    background-repeat: no-repeat;

    position: absolute;
    top: -1%;
    right: -120px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-about {
    max-width: 378px;
    width: 100% !important;
}

.footer-about img {
    max-width: 142px;
    width: 100%;
    height: 20px;
    transition: all 0.3s ease;
}

.footer-about img:hover {
    filter: grayscale(50%);
}

.footer-about p {
    color: #6E6E6E;
    font-size: 12px;
    margin-top: 27px;
}

.footer-contact {
    max-width: 169px;
    width: 100%;
}

.footer-contact ul a {
    font-size: 12px;
    color: #111111;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.footer-contact .fb {
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    margin-top: 15px;
}

.footer-contact .fb:hover {
    opacity: 80%;
}

.footer-col {
    width: 170px;
    z-index: 2;
}

.footer-col:not(:last-child) {
    margin-right: 40px;
}

.footer-col h4 {
    font-size: 18px;
    color: #111111;
    margin-bottom: 16px;
    font-weight: normal;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 8px;
}

.footer-col ul li a {
    font-size: 14px;
    color: #6E6E6E;
    display: block;
    transition: all 0.3s;
}

.footer-col ul li a:hover {
    color: #111111;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 170px;
}

.footer-bottom span {
    color: #9C9C9C;
    font-size: 14px;
}

.footer-bottom .madeby span {
    color: #111111;
    font-size: 14px;
}

.footer-bottom .madeby .sw {
    color: #74B42C;
}

.footer-bottom .banks {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 143px;
    width: 100%;
}

.footer-bottom .banks img:not(:last-child) {
    margin-right: 40px;
}

/* About Us Page*/
.section-head a, .section-head span {
    font-size: 14px;
    color: #C8C8C8;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.section-head a:hover {
    color: #111111;
    cursor: pointer;
}

.aboutus-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutus-cont .aboutus-bg {
    max-width: 984px;
    width: 100%;
    height: 400px;
    background-color: #F5621F;
    background-image: url(../img/Layer\ 2.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 65px;
}

.aboutus-cont .aboutus-text {
    max-width: 782px;
    width: 100%;
}

.aboutus-cont h2 {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 30px;
}

.aboutus-cont p {
    font-size: 14px;
    margin-bottom: 20px;
}


/* Contact Page */
.contact-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 950px;
}

.contact-cont iframe {
    height: 400px;
    max-width: 480px;
    width: 100%;
}

.contact-cont ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-cont ul li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    white-space: nowrap;
}

.contact-cont ul li img {
    width: 24px;
    height: 24px;
}

.contact-cont ul li div {
    margin-left: 30px;
    max-width: 254px;
    width: 100%;
}

.contact-cont ul li div span {
    font-size: 14px;
    color: #9C9C9C;
}

.contact-cont ul li div h6 {
    font-size: 18px;
    color: #111111;
    font-weight: normal;
}

.contact-cont ul li div h6:not(:last-child) {
    margin-top: 9px;
}


/* Product Page */
.product {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.product .product-images {
    width: 480px;
}

.product .product-img-gallery {
    display: flex;
    align-items: flex-start;
}

#product .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

#product .swiper-slide img {
    display: block;
    object-fit: cover;
}

#product .product-main-img .swiper-slide img {
    height: 330px;
}

#product .product-img-selector .swiper-slide img {
    height: 50px;
}

#product .swiper {
    margin-left: auto;
    margin-right: auto;
}

#product .swiper-slide {
    background-size: cover;
    background-position: center;
}

#product .mySwiper2 {
    height: 370px;
    width: 480px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #597DBC0D;
    border-radius: 10px;
}

#product .mySwiper {
    width: 85px;
    height: 100%;
    box-sizing: border-box;
    margin-right: 20px;
}

#product .mySwiper .swiper-slide {
    height: 75px !important;
    width: 85px !important;
    opacity: 0.7;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #597DBC0D;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#product .mySwiper .swiper-slide:hover {
    opacity: 0.9;
}

#product .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

#product .mySwiper2 .swiper-wrapper {
    height: 370px;
    width: 378px !important;
}

.product .product-main-img {
    height: 370px;
    width: 378px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product .swiper-wrapper {
    align-items: center;
}

.product .checkout-brand {
    width: 277px;
}

.product .checkout {
    height: 256px;
    width: 277px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #597DBC0D;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .checkout .price {
    font-size: 24px;
}

.product .checkout .amount {
    height: 54px;
    width: 217px;
    background-color: #F8F8F8;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    font-size: 24px;
    margin: 30px 0 30px 0;
}

.product .checkout input {
    width: 100px;
    height: 100%;
    text-align: center;
    font-size: 24px;
    border: none;
    background-color: initial;
}

.product .checkout input:focus-visible {
    outline: none;
}

.product .checkout .amount .minus, .plus {
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
}

.product .checkout .amount .minus:hover, .plus:hover {
    opacity: 60%;
}

.product .checkout .basket-cont {
    height: 54px;
    max-width: 277px;
    width: 100%;
    background-color: #74B42C;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease;
}

.product .checkout .basket-cont:hover {
    filter: grayscale(50%);
}

.product .checkout .basket-cont .basket {
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
}

.product .brand-logo {
    height: 90px;
    max-width: 277px;
    width: 100%;
    background-color: #ffffff80;
    box-shadow: 0px 0px 20px #597DBC0D;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}

.product .brand-logo img {
    width: 45%;
}

.product .wgt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.product .wgt .weight {
    height: 35px;
    width: 105px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.product .wgt .weight.active {
    background-color: #E7E7E7;
}

.product .wgt .weight:hover {
    background-color: #E7E7E7;
}

.product .description {
    max-width: 378px;
    width: 100%;
    margin: 0 26px 0 26px;
}

.product .description .title {
    font-size: 18px;
}

.product .id-share {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 14px 0 29px 0;
}

.product .id-share .id {
    color: #9C9C9C;
    margin-right: 25px;
}

.product .id-share .share {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.product .id-share .share img {
    margin-right: 5px;
}

.product .product-about {
    font-size: 12px;
    margin-top: 30px;
}

.product .product-about .text {
    font-size: 12px;
    margin-top: 30px;
    max-height: 111px;
    height: 100%;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.product .product-about .see-more, .see-less {
    color: #9C9C9C;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product .product-about .see-less {
    display: none;
    flex-direction: column-reverse;
}

.product .product-about .see-less img {
    transform: rotate(180deg);
}

/* Product Listing Page */
#listing .section-head {
    display: flex;
    justify-content: space-between;
}

#listing .sort span {
    font-size: 14px;
    color: #111111;
}

#listing .sort select {
    font-size: 14px;
    color: #F5621F;
    cursor: pointer;
    background-color: inherit;
    -webkit-appearance: button;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "FiraGO Medium";
}

#listing .sort select:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.product-listing {
    margin-top: -400px;
    display: flex;
    justify-content: space-between;
}

#listing .leaf-section {
    margin-top: 100px;
}

.filter-mobile-display {
    display: none;
}

.product-filter {
    width: 277px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #597DBC0D;
    border-radius: 10px;
    padding: 50px 40px 50px 40px;
}

.product-filter .filter-select {
    margin-bottom: 35px;
    padding: 15px 0 10px 0;
    border-top: solid 1px rgba(231, 231, 231, 0.3);
    border-bottom: solid 1px rgba(231, 231, 231, 0.3);
}

.product-filter .filter-select .filter-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.product-filter .filter-select .filter-btn h4 {
    font-size: 16px;
    font-weight: normal;
}

.product-filter button {
    width: 197px;
    height: 54px;
    color: #ffffff;
    border: none;
    background-color: #74B42C;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-filter button:hover {
    filter: grayscale(50%);
}

.filter-select .open-filter {
    margin: 15px 0 0 10px;
    max-height: 200px;
    height: 100%;
    transition: all 0.3s cubic-bezier(1, 0, 0, 1.02);
    -webkit-transition: all 0.3s cubic-bezier(1, 0, 0, 1.02);
}

.filter-btn .filter-chevron-down {
    transition: all 0.5s ease;
}

.filter-btn.active .filter-chevron-down {
    transform: translateY(-40%) rotate(180deg);
}

.filter-select .closed {
    max-height: 0px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.filter-select .filter-cat {
    font-size: 14px;
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
}

.filter-select .filter-cat:hover .box {
    background-color: rgb(116, 180, 44, 30%);
}

.filter-select .filter-cat .box {
    height: 17px;
    width: 17px;
    margin-right: 10px;
    background-color: #E7E7E7;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.filter-select .filter-cat .active {
    background-color: #74B42C !important;
}

.product-list {
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(auto-fill, 277px);
    grid-auto-rows: 441px;
    grid-gap: 26px 26px;
    width: 100%;
}

.product-list .listing-product {
    height: 441px;
    width: 277px;

    text-align: left;
    background: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 0 30px;

    box-shadow: 0px 0px 20px #597DBC0D;
    border: 1px solid #E7E7E74D;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.product-list .listing-product:hover {
    box-shadow: 0px 0px 40px #597dbc1a;
}

.product-list .listing-product img {
    height: 150px;
    max-width: 135px;
    width: 100%;
    margin-bottom: 19px;
}

.product-list .listing-product .title-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
}

.product-list .listing-product .title-desc .title {
    font-size: 18px;
}

.product-list .listing-product .title-desc .desc {
    font-size: 12px;
    color: #6E6E6E;
}

.product-list .listing-product .wgt {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    height: 120px;
}

.product-list .listing-product .wgt .weight {
    height: 35px;
    width: 105px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.product-list .listing-product .wgt .weight.active {
    background-color: #E7E7E7;
}

.product-list .listing-product .wgt .weight:hover {
    background-color: #E7E7E7;
}

.product-list .listing-product .price-basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 215px;
}

.product-list .listing-product .price-basket span {
    font-size: 24px;
    color: #111111;
}

.product-list .listing-product .price-basket .basket {
    height: 34px;
    width: 34px;
    background-color: #74B42C;
    background-image: url(../img/shopping-cart-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

.product-list .listing-product .price-basket .basket:hover {
    filter: grayscale(80%);
}

.filter-select .price-range {
    margin: 30px 0 10px 0;
}

.filter-select .price-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.filter-select .field input {
    width: 85px;
    height: 30px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 13px;
    margin-left: 12px;
    text-align: center;
    background-color: #E7E7E7;
    -moz-appearance: textfield;
}

.filter-select input[type="number"]::-webkit-outer-spin-button,
.filter-select input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.filter-select .slider {
    height: 7px;
    position: relative;
    background: #E7E7E7;
    border-radius: 109px;
}

.filter-select .slider .progress {
    height: 7px;
    left: 20%;
    right: 20%;
    position: absolute;
    border-radius: 109px;
    background: #74B42C;
}

.filter-select .range-input {
    position: relative;
}

.filter-select .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -6px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filter-select input[type="range"]::-webkit-slider-thumb {
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background: #74B42C;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.filter-select input[type="range"]::-moz-range-thumb {
    height: 19px;
    width: 19px;
    border: none;
    border-radius: 50%;
    background: #74B42C;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}